/* -- Fonts --- */
@font-face { font-family: "Yanone"; src: url("Yanone-Kaffeesatz-regular.ttf")  format("truetype"); }
@font-face { font-family: "Menlo";  src: url("Menlo-Powerline.otf")            format("opentype"); }

#footer {
  display: none;
}

.slide {
  padding: 0;
}

.content {
  height: 768px !important;
  width: 1024px !important;
  background: #fff url('bg_slide.jpg') no-repeat top left;
  padding: 0 50px;
  display: table-cell;
  font-family: 'Yanone' !important;
  color: rgb(83, 71, 71);
  text-align: center;
  vertical-align: middle;
}

h1 {
  margin-top: 0;
  padding: 0 50px;
  line-height: 1.15em;
}

.content.cover {
  color: #fff;
  background-image: url('bg_cover.jpg')
}

.content.section,
.content.toc {
  color: #fff;
  background-image: url('bg_section.jpg')
}

.content.toc h1 {
  font-size: 50px !important;
}
.content.toc li {
  font-size: 70px !important;
}

.content.image {
  padding: 0;
  background: #fff;
}

.content.image p {
  margin: 0 !important;
  width: 1024px;
  height: 768px;
}

.content.image img {
  display: block;
  margin: auto auto;
}

.content.quote {
  position: relative;
}

.content.quote:before {
  position: absolute;
  top: 20px;
  left: 20px;
  content: "\201C";
  font-size: 500px;
  opacity: 0.1;
  font-family: Helvetica;
}

.content.quote h1 {
  text-align: left;
}

.content.quote h2 {
  text-align: right;
}


.content.bullets h1 {
  font-size: 70px;
}

.content.bullets li {
  line-height: 1.15em;
  margin-left: 0;
  font-size: 70px;
}

.content.bullets-first h1 {
  font-size: 60px;
}

.content.bullets-first li {
  font-size: 90px;
}

.content.title-first h1 {
  font-size: 90px;
}

.content.title-first li {
  font-size: 60px;
}

.content.many-bullets li {
  padding-bottom: 0;
}

.content.chain-bullets h1,
.content.chain-bullets h2 {
  margin-bottom: 10px;
}

.content.chain-bullets li {
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 50px;
}

strong {
  font-family: 'Helvetica' !important;
  font-weight: normal;
  font-size: 90%;
  padding-left: 10px;
}

.columns ul {
  margin: 0 auto;
  width: 70%;
  -webkit-column-count: 2;
}

.content.code,
pre.sh_sourceCode {
  text-align: left;
  background: #f5f4f0 ! important;
  line-height: 1.4em;
}

pre {
  margin: 0;
}
code,
pre.sh_sourceCode .sh_string {
  font-family: 'Menlo' !important;
}

pre.sh_sourceCode .sh_function,
pre.sh_sourceCode .sh_keyword {
  font-weight: normal;
}

.content.smallest pre.sh_sourceCode {
  font-size: 28px;
  line-height: 1.2em;
}


.content.terminal {
  background: #000 !important;
  color: #1f1 !important;
}

.content.terminal pre {
  line-height: 200%;
}

.content.problem h1,
.content.solution h1 {
  font-size: 60px;
  opacity: 0.7;
}

.content.problem h2,
.content.solution h2,
.content.solution li {
  font-size: 75px !important;
}

.content.solution.wide-bullets li {
  font-size: 70px !important;
}


