@font-face {
  font-family: URWGroteskTextLigWid;
  src: url(URWGroteskTextLigWid-Euro.ttf);
}

body {
  background: #f5f4f0;
  color: #333;
  font-family: URWGroteskTextLigWid, sans-serif;
}

strong {
  color: #b00;
}

.slide-content {
  width: 1024px;
  height: 768px;
  margin: 0 auto;
  font-size: 40px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.slide-content h1 {
  margin: 50px 0 50px 0;
}

.slide-content h2 {
  font-size: 2em;
  font-weight: bold;
}

.slide-content h3 {
  border: none;
  text-align: center;
}

.slide-content ul {
  width: 100%;
  padding: 0;
  font-size: 1.2em;
  list-style: none;
}

.slide-content pre {
  text-align: left;
  border: none;
  margin: 0;
}

.slide-content code {
  border: none;
}

.arrow {
  border-width: 20px;
}

.prev {
  border-right-width: 25px;
}

.next {
  border-left-width: 25px;
}

/* jsbin slide */

.jsbin iframe {
  width: 1024px;
  min-height: 768px ! important;
}

/* cover slide */
.cover {
  background: #ABC510;
  color: #eee;
}

.cover .slide-content {
  align-items: center;
  text-align: center;
}

.cover h1 {
  margin: 0 0 1em 0;
  line-height: 1em;
}

.cover a {
  color: #305309;
}

/* section slide */

.section {
  background: #1084C5;
  color: #fff;
}

.section .slide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* image slide */

.image .slide-content {
  padding: 0;
}

.image p {
  margin: 0;
}

.image img {
  width: 100%;
  height: 100%;
}

.image.full-height img {
  width: auto;
  height: 768px;
}

.image.vcenter p {
  width: 100%;
}

/* quote slide */
.quote {
  background: #222;
  color: #fff;
}

.quote .slide-content {
  position: relative;
}

.quote blockquote {
  font-size: 130%;
  text-align: left;
  margin: 0;
  padding: 0;
}

cite {
  text-align: right;
  display: block;
  font-size: 1.5em;
}

/* tweet slide */
.tweet {
  background: #c7ddec url(trabe-theme/bg_tweet.png) repeat-x;
}
